<!DOCTYPE html>
<html>
  <head>
    <title>Admin | Amazon Gift Code</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container mt-4">
      <%= render 'shared/flash_messages' %>
      <% if logged_in? && !current_page?(admin_login_path) %>
        <div class="nav nav-tabs mb-4">
          <!-- メインメニュータブ -->
          <%= link_to 'ギフトコード一覧', admin_gift_codes_path, class: "nav-link #{current_page?(admin_gift_codes_path) ? 'active' : ''}", data: { turbo_frame: 'tab_content' } %>
          <%= link_to 'ユーザー管理', admin_users_path, class: "nav-link #{current_page?(admin_users_path) ? 'active' : ''}", data: { turbo_frame: 'tab_content' } %>
          <%= link_to '管理者設定', edit_admin_administrator_path(current_user), class: "nav-link #{current_page?(edit_admin_administrator_path(current_user)) ? 'active' : ''}", data: { turbo_frame: 'tab_content' } %>
        </div>
      <% end %>
      
      <%= turbo_frame_tag 'tab_content' do %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
